<header class="header-3">
                <div class="container">
                  <div class="row">
                    <nav class="navbar col-sm-12" role="navigation">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle"></button>
                        <a class="brand" href="/">
                          <!-- <img src="../../common-files/icons/Infinity-Loop@2x.png" width="50" height="50" alt=""> -->
                          ClassyPie</a>
                      </div>
                      <div class="collapse navbar-collapse pull-right">
                        <ul class="nav pull-left">
                          <li><a href="/">HOME</a>
                          </li>
                          <% if user_id %>
                          <li>
                              <a href=<%='/user/'+user_id%> id='currentUserEmail'> <%= user_email %> </a>                                            
                          </li>
                          <li><a href="#" id='logoutBtn' onclick='logout()'>Logout</a></li>
                          <% else %>
                          <li><a href="#" id='loginBtn' onclick='signup()'>Login/Sign Up</a></li>                                        
                          <% end %>
                        </ul>
                        <!-- <form class="navbar-form pull-left">
                          <a class="btn btn-primary" href="#">SIGN IN</a>
                        </form> -->
                      </div>
                    </nav>
                  </div>
                </div>
                <div class="header-background"></div>
              </header>