<% if listings.any? %>
<section id='foundListings' class="content-2">
        <div class="container">
          <% listings.each do |item| %>
            <%= erb :single_listing, locals: {item: item} %>
          <% end %>                
        </div>
</section>      
<% end %>