<div id="reviewsArea" class='col-md-12'>  
      <h3> Reviews </h3>
      <h4> Add Review </h4>
      <form id='newReviewForm' method='POST' action=<%='/reviews/user/'+target_user._id%> >              
        <textarea type='text' class='form-control custom-control' name='text' placeholder='Tell us what you know about this user.'></textarea>   
        <% unless user_email %> 
        <input type='text' class='form-control' name='email' placeholder='your email'>
        <% end %>
        <button class='btn btn-info'>Submit</button>
      </form>

      <div id="reviewsList">
      <% reviews_of_user.each do |rev| %>
        <div class="col-sm-4">
            <h6><a href=<%=Links.user(rev.poster._id)%>><%= rev.poster && rev.poster.email %></a></h6>
            <%= rev.text * 10 %>
        </div>        
      <% end %>
      </div>
</div>