input, span, textarea, button { 
    border-radius: 0 !important;
}

index {
    #mainPostForm {
        min-width: 70% !important;
    }    

    .content-4 {
        padding-bottom: 0;
    }

    .contacts-2 {
        padding-top: 0;
    }   
}

#newOffer {
    padding-top: 40px;
}
#newOfferForm {
    padding-top:10px;
    .input-group-addon {
        min-width: 200px;
    }
}

#newOfferMessage {
    textarea {
        width:100%;
        resize: none;    
    }
}

.conversation {
    border: 1px solid;
    .msg {
        margin-bottom: 0;
    }
    .you {
        background-color: aliceblue;
    }
    .them {
        background: lightblue;
    }
}

#offers {
    .offer {
        margin-top: 10px;

        p {
            font-size: 16px;
            text-align: left;
            padding-bottom: 10px;
            padding-left:5px;
        }
        border: 1px solid thistle;
    }
}

#userPage {
    .content-4 { 
        padding-top: 0;
    }
}

.content-29 {
    padding-top: 0;
    padding-bottom: 0px;

    h3 { 
        padding-bottom: 0;
    }
}