@import 'elements.less';

/*colors*/
@border-gray: #E1E8ED;
@placeholder-text: lightgrey;

.red { background-color: red; }
.green { background-color: green;}
.display { display: inherit;}
h1 { font-family: lucida;}
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder { color: @placeholder-text;  }

post-listing {
    .optionsRow {
        margin-top: 10px;
    }

    background-color: cornsilk;
    padding: 20px;
    padding-top: 0;
}

offersArea {    
    .input-group-addon {
        min-width:200px;
        text-align:left;
    }    
    h2 {
        text-align: center;
    }
    .offer {
        padding: 20px;
        margin-top: 10px;
        padding-top: 12px;
    }

    #newOfferMessage {
        textarea {
            width: 100%;
            resize: none;
            border: none;
            padding: 5px;
        }
    }

    .msg {
        background-color: aliceblue;
        padding: 5px;

        &.them {
            background-color: floralwhite;
        }
    }
}

listing-page {
    background-color: grey !important
}

input, span, textarea, button { 
    border-radius: 0 !important;
}

#navbar {
    .nav>li>a:hover {
        text-decoration: underline;
        background-color: white;
    }
}
.invi { 
    display: none;
}