        <search-listings class="full-page row">
            <div class="col-md-4"><p>Search listings results </p></div>
            <div class="col-md-4"><p>Some text </p></div>
            <div class="col-md-4"><p>Some text </p></div>
            <div class="col-md-4"><p>Some text 0</p></div>
            <div class="col-md-4"><p>Some text 1</p></div>
            <div class="col-md-4"><p>Some text 2</p></div>
        </search-listings>
