<h1>Search</h1>

  <form id='searchForm' method='get' action='/searchValues/'>
    <input type='text' name='content' value='<%= content=content || nil %>'>
    <input type='text' name='location' class='autocompleteAddress' value='<%= location=location || nil%>'>
    <button>Submit</button>
  </form>

  <% listings.each do |item| %>
    <div> <%= item.to_json %> </div>
  <% end %>
