<%
  reviews_of_user = Reviews.of_target(user_id)
%>


      <h1> Add Review </h1>
      <form id='userData' method='POST' action=<%='/reviews/user/'+user_id%> >
        
        <input type='number' name='rating'>
        <textarea type='text' name='text'></textarea>        
        <button>Submit</button>
      </form>

      <h1> Reviews </h1>

      <% reviews_of_user.each do |rev| %>
        <div> <%= YAML.dump rev %> </div>
      <% end %>


      <h3> nothing here </h3>