


      <h1> Add Review </h1>
      <form id='userData' method='POST' action=<%='/reviews/user/'+target_user._id%> >
        
        <input type='number' name='rating'>
        <textarea type='text' name='text'></textarea>        
        <button>Submit</button>
      </form>

      <h1> Reviews </h1>

      <% reviews_of_user.each do |rev| %>
        <div> <%= rev.to_json %> </div>
      <% end %>


      <h3> nothing here </h3>